<table class="email__info-table" cellpadding="0" cellspacing="0" border="0" role="presentation">
  <tr>
    <td class="email__info-item">
      <img class="email__info-icon" src="../assets/icons/phone.png" alt="">
      <div>
        <p class="email__info-label">Nuevo número de teléfono</p>
        <p class="email__info-value">{{phone}}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="email__info-item">
      <img class="email__info-icon" src="../assets/icons/device.png" alt="">
      <div>
        <p class="email__info-label">Dispositivo y sistema operativo</p>
        <p class="email__info-value">{{device}}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="email__info-item">
      <img class="email__info-icon" src="../assets/icons/clock.png" alt="">
      <div>
        <p class="email__info-label">Fecha y hora</p>
        <p class="email__info-value">{{datetime}}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td class="email__info-item">
      <img class="email__info-icon" src="../assets/icons/globe.png" alt="">
      <div>
        <p class="email__info-label">Dirección IP</p>
        <p class="email__info-value">{{ip}}</p>
      </div>
    </td>
  </tr>
</table>
<p class="email__text"><strong>Si no reconocés la acción, avisanos para tomar medidas de seguridad sobre tu cuenta.</strong></p>
